* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;

}

body{
    background-color: azure;

}

.main-content{
    width: 99%;
    margin: auto;
    display: flexbox;
    height: 300px;
    justify-content: center;
    align-items: center;
}